<h3><%= @question.content%></h3>

<%= link_to "New Answer", new_question_answer_path(@question)%>

<ul>
  <% @question.answers.each do |answer| %>
    <li><%= link_to answer.content, question_answer_path(@question, answer)%></li>
  <%end%>

</ul>


<%= link_to "Edit Question", edit_question_path%>
<%= link_to "Delete Question", question_path(@question), :data => {:confirm => "You sure?", :method => "delete"}%>


<%= link_to "Return Home", questions_path %>
